*/imgui/
*/src/include/imgui/
*.out
glew-2.1.0/
glfw-3.3.9/
glm-0.9.9.8/
cuda-samples/

*env
*.env

*.vscode
*.png
*.jpg
*.obj
*.mtl
*.wav
*.bmp
*.mp4
*.mp3
*.vtk

bench/*.txt
*.ncu-rep
docs/demo/

test.py

imgui/
*.ini

extra/
build/
out/
output/
.vs/
*.zip
*.tar.gz
linux/
win32/